.about {
  padding-bottom: 94px;
}
.list-about {
  margin-left: -30px;
}
.title-about {
  margin-bottom: 50px;
}
.img-about {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.img-about {
  position: relative;
}
.overlay-index {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-right: 82px;
  padding-bottom: 27px;
  padding-left: 82px;
  width: 100%;
}

.overlay-index-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
