.advantages {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-advant {
  margin-left: -30px;
}
.list {
  display: flex;
}

.features-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.features-paragraph {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
.features {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.icon-advantages {
  width: 70px;
  height: 70px;
}

.icon-list {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
