.logo-color {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}
.logo-margin {
  margin-right: 93px;
}
.white-logo {
  color: var(--black-color);
}
.dark-logo {
  color: var(--white-color);
}
