.contact-head__icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
  transition: var(--fill-change);
}

.mail-link-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  transition: var(--color-change);

  &:hover .contact-head__icon-mail,
  &:focus .contact-head__icon-mail {
    fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-head__mail-tel-style:not(:last-child) {
  margin-right: 50px;
}

.contact-head {
  display: flex;
  align-items: center;
  margin-left: auto;
}
