.tel-link-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  transition: var(--color-change);

  &:hover .contact-head__icon-tel,
  &:focus .contact-head__icon-tel {
    fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-head__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: var(--fill-change);
}
